/Results/
/Failures/
/newBenchmark/
/.pytest_cache
/.dist
/__pycache__
/Difference
/debug.log
/AddNewTest/
/AddNewTest/test_sample.py
/test_cases/3D/.pytest_cache
/test_cases/3D/__pycache__
/test_cases/Ortho/.pytest_cache
/test_cases/Ortho/__pycache__
/test_cases/PointCloud/.pytest_cache
/test_cases/PointCloud/__pycache__
/test_cases/2D/__pycache__
/test_cases/2D/.pytest_cache
/test_cases/Combined/__pycache__
/test_cases/Combined/.pytest_cache


